body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#main-div {
    border: 1px solid #3d3d3d;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 15px;
}